<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>首页—mmall_yangtuo</title>
	<link rel="stylesheet" href="">
	<link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/jqueryPagination/css/jquery.pagination.css" />
    <link href="/public/css/admin.css" rel="stylesheet">
<body>
	<div id="topNav">
        <span class="logo">YANGTUO</span>   
        <span class="title">有机农产品销售网站后台管理系统</span>
        <div class="user">
            <a class="user-box">
                <i class="fa fa-user fa-fw"></i><span>欢迎 {{userInfo.username}}</span>
                <i class="fa fa-caret-down"></i>
            </a>
            <div class="logoutBox">
                <a>
                    <i class="fa fa-sign-out fa-fw"></i>
                     退出登录
                 </a>
            </div>
        </div>
    </div>
    <div id="sideNav">
        <ul>
            <li>
                <a href="/admin">
                    <i class="fa fa-bar-chart-o"></i>
                    <span>首页</span>
                </a>
            </li>
            <li class="selectActive">                
                <a href="/admin/product"> 
                    <i class="fa fa-list"></i>
                    <span>商品管理</span>
                </a>
           </li>
            <li>
                <a href="/admin/productCat"> 
                    <i class="fa fa-list"></i>
                    <span>分类管理</span>
                </a>
            </li>
            <li>
                <a href="/admin/user">
                    <i class="fa fa-user-o fa-fw"></i>
                    <span>会员管理</span>
                </a>
            </li>
            <li>
                <a href="/admin">
                    <i class="fa fa-check-square-o fa-fw"></i>
                    <span>订单管理</span>
                </a>
            </li>
            <li>
                <a href="/admin">
                    <i class="fa fa-bar-chart-o"></i>
                    <span>促销管理</span> 
                </a>
            </li>
        </ul>
    </div>
    <div id="pageWrap">
        <h1>商品列表</h1>
        <div class="addProduct">
            <a class="btn btn-primary" href="/admin/addProduct">
                <i class="fa fa-plus"></i>
                <span>添加商品</span>
            </a>
        </div>
        <div class="form-inline">
            <form action="/admin/product" method="get">
                <input type="text" class="form-control" name='productName' placeholder="关键字">
                <input type="submit" value="搜索" class="btn btn-primary">
            </form>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>商品ID</th>
                    <th>商品信息</th>
                    <th>图片</th>
                    <th>分类</th>
                    <th>价格</th>
                    <th>库存</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{product._id.toString()}}</td>
                    <td>{{product.productName}}</td>
                    <td>
                        <img class="productImg" src="../upload/{{product.productUrl.substr(7)}}" alt="图片">
                    </td>
                    <td>{{product.productCat.productCat}}</td>
                    <td>￥{{product.productPrice}}</td>
                    <td>{{product.productCount}}Kg</td>
                    <td>
                        {% if product.productStatus %}
                            <p>上架中</p>
                            <button class="changeStatus btn btn-warning btn-xs" data-status='false' data-id='{{product._id.toString()}}'>下架</button>
                        {%else%}
                            <p>已下架</p>
                            <button class="changeStatus btn btn-warning btn-xs" data-status='true' data-id='{{product._id.toString()}}'>上架</button>
                        {%endif%}
                    </td>
                    <td>
                        <a href="/admin/productDetail?id={{product._id.toString()}}">查看</a>|
                        <a href="/admin/productEdit?id={{product._id.toString()}}">编辑</a>|
                        <a class="deleteProduct" data-id='{{product._id.toString()}}'>删除</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <!-- 分页插件 -->
        <div id="pagination1" class="page"></div>

    </div>

	
	<script src="/public/js/jquery.js"></script>
    <script src="/public/jqueryPagination/js/jquery.pagination.min.js"></script>
	<script src="/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="/public/js/admin.js"></script>

    <script>
        $(function(){
            $(document).on('click', '.deleteProduct', function(event) {
                var con=window.confirm("确定要删除吗?"); 
                var data={
                    id:$(this).data('id')
                };
                if (con&&data) {
                    $.ajax({ 
                        type: "POST", //提交方式 
                        url : "/admin/deleteProduct",//路径
                        data:data,
                        success : function(res) {//返回数据根据结果进行相应的处理 
                            alert(res.msg);
                            window.location.reload();
                        },
                        error:function(){
                            alert('添加失败失败')
                        }
                    }); 
                }
            });
            //改变商品状态
            $(document).on('click', '.changeStatus', function(event) {
                var data={
                    status:$(this).data('status'),
                    id:$(this).data('id')
                };
                $.ajax({ 
                    type: "POST", //提交方式 
                    url : "/admin/changeStatus",//路径
                    data:data,
                    success : function(res) {//返回数据根据结果进行相应的处理
                        alert(res.msg)
                        window.location.reload();
                    },
                    error:function(){
                        alert('添加失败失败')
                    }
                }); 
            });

            //初始化分页插件
            $("#pagination1").pagination({
                currentPage: {{current}},
                totalPage: {{totalPage}},
                callback: function(current) {
                    window.location.href='/admin/product?pageSize=4&current='+current;
                }
            });
        })
    </script>

</body></html>