<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2018-12-26 11:19:13
 * @LastEditTime: 2018-12-28 19:29:03
 * @LastEditors: Please set LastEditors
 -->

<!DOCTYPE html>
<html>
<head>
	<%= require('html-loader!./layout/head-common.html')  %>
	<title><%= htmlWebpackPlugin.options.title %>-有机农产品</title>
</head>
<body>
	<%= require('html-loader!./layout/nav.html')  %>
	<%= require('html-loader!./layout/header.html')  %>
	<div class="lunbo">
		<div  class="w">
			<ul class="imgUl">
				<li><img src="${require(`../imgs/lunbo/1.jpg`)}" alt=""></li>
				<li><img src="${require(`../imgs/lunbo/2.jpg`)}" alt=""></li>
				<li><img src="${require(`../imgs/lunbo/3.jpg`)}" alt=""></li>
			</ul>
			<ul class="crileUl">
				<li class="active"></li>
				<li></li>
				<li></li>
			</ul>
			<div class="preNext pre"></div>
			<div class="preNext next"></div>
		</div>
	</div>
	<div class="productList">
		<div class="w">
			<div class="banner"></div>
			<div class="crumb">
				<div class="w">
					<div class="crumb-con">
						<a href="./index.html" class="link">Mall ></a>
						<span class="link-text">
							商品列表
						</span>
					</div>
				</div>
			</div>
			<ul  class="list">
					
			</ul>
			<!-- 分页插件 -->
			<div id="pagination1" class="page"></div>
		</div>
	</div>
	<%= require('html-loader!./layout/footer.html')  %>
</body>
</html>
