<!DOCTYPE html>
<html>
<head>
	<%= require('html-loader!./layout/head-common.html')  %>
	<title><%= htmlWebpackPlugin.options.title %>-有机农产品</title>
</head>
<body>
	<%= require('html-loader!./layout/nav-simple.html')  %>
	<div class="page-wrap">
		<div class="w">
			<div class="user-con">
				<div class="user-title">用户注册</div>
				<div class="user-box">
					<div class="error-item">
						<i class="fa fa-minus-circle error-icon"></i>
						<p class="err-msg">ERROR</p>
					</div>
					<div class="user-item">
						<label for="username" class="user-label">
							<i class="fa fa-user"></i>
						</label>
						<input class="user-content" id="username" placeholder="请输入用户名" autocomplete="off">
					</div>
					<div class="user-item">
						<label for="password" class="user-label">
							<i class="fa fa-lock"></i>
						</label>
						<input type="password" class="user-content" id="password" placeholder="请输入密码" autocomplete="off">
					</div>
					<div class="user-item">
						<label for="again" class="user-label">
							<i class="fa fa-lock"></i>
						</label>
						<input type="password" class="user-content" id="again" placeholder="请再次输入密码" autocomplete="off">
					</div>
					<a  class="btn btn-submit" id="submit">注册</a>
					<div class="link-item">
						<a href="./user-login.html" class="link">已有账号，去登录</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%= require('html-loader!./layout/footer.html')  %>
</body>
</html>